body {
  font-family : 'Roboto', cursive;
  font-size   :14px;

  #app {

    .Toastify {

      .Toastify__toast-container {
        padding:0;
        &.Toastify__toast-container--top-center {

          @media (max-width: 768px) {
            top:0;
            left:0;
            width:100%;
            margin-left:0;
          }
        }

        .Toastify__toast {
          @media (min-width: 768px) {
            min-height:55px;
          }
          @media (max-width: 768px) {
            min-height:40px;
          }

          .Toastify__toast-body {
            text-align: center;
          }
        }
      }
    }

    .root-loader {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .container-app {
      position : absolute;
      top      : 0;
      left     : 0;
      right    : 0;
      bottom   : 0;
      z-index  : 1;

      .content-app {
        position     : absolute;
        top          : 0;
        right        : 0;
        bottom       : 0;
        z-index      : 0;
        width        : 100%;
        padding-top  : $header-height;

        @media (min-width: 1024px) {
          padding-left : $sidebar-width;
        }
        @media (max-width: 1024px) {
          padding-left : $sidebar-width-small;
        }
        @media (max-width: 768px) {
          padding-left   : 0;
          padding-bottom : 50px;
          left           : 0;
        }

        h1 {
          background      : $h1-bg;
          color           : $primary-color;
          font-size       : 26px;
          padding         : 1.3rem 0.8rem;
          border-bottom   : 1px solid $h1-border;
          margin-bottom   : 0;
          display         : flex;
          justify-content : space-between;
          align-content   : center;

          .svg-inline--fa {
            color      : $primary-color-light;
            cursor     : pointer;
            transition : all 0.3s ease 0s;

            &:hover {
              color  : $primary-color;
            }
          }
        }

        .loading-list {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          top:40px;
          right:0;

          @media (min-width: 1024px) {
            width: calc(100% - 250px);
          }
          @media (max-width: 1024px) {
            width: calc(100% - 60px);
          }
          @media (min-width: 768px) {
            height: calc(100% - 40px);
          }
          @media (max-width: 768px) {
            width:100%;
            height: calc(100% - 80px);
          }

          min-height:300px;
        }
      }
    }

    .btn {
      background : $primary-color-light;

      &:hover {
        background : $btn-transition-color;
      }

      &.delete {
        background: $btn-delete-color;

        &:hover {
          background : $btn-transition-color-delete;
        }
      }

      &:focus {
        box-shadow : none;
      }
    }
  }

  #lightboxBackdrop {

    .content_13hv8io {
      position: static!important;
    }

    .close_1x3s325 {
      position     : absolute;
      top          : 5px;
      right        : 5px;
      margin-right : 0;
      z-index      : 1;
      height       : 30px;
      width        : 30px;
      padding      : 5px;
    }

    button {
      &:focus {
        box-shadow : none;
        outline    : 0
      }
    }

    .arrow_b9bbag-o_O-arrow__direction__right_174p6a9-o_O-arrow__size__medium_9f7hgo,
    .arrow_b9bbag-o_O-arrow__direction__left_shhpn5-o_O-arrow__size__medium_9f7hgo{
      height     : 60px;
      margin-top : -30px;
      background : rgba(255,255,255, 0.15);

      @media (min-width: 768px) {
        width: 50px!important;
      }
    }

  }
}