.dashboard {

  .calendar {
    padding    : 0.9rem;
    min-height : 700px;

    .rbc-calendar {
      min-height : 700px;
      width      : 100%;

      .rbc-time-column {
        .rbc-time-slot {
          color     : $primary-color;
          font-size : 13px;
        }
      }

      .rbc-btn-group {
        button {
          cursor     : pointer;
          box-shadow : none;
          font-size  : 14px;

          &:focus {
            outline          : 0;
            background-color : #e6e6e6;
            box-shadow       : none;
          }
        }
      }

      .rbc-toolbar-label {
        text-transform : capitalize;
        font-size      : 15px;
        font-weight    : bold;
      }

      .rbc-header {
        span {
          text-transform : capitalize;
          color          : $primary-border;
          display        : inline-block;
          padding        : 0.4rem 0;
        }
      }

      .rbc-date-cell {
        a {
          color : $primary-color;
        }
      }

      .rbc-off-range-bg {
        background : #f3f3f3;
      }

      .rbc-today {
        background: #eef4ff;
      }

      .rbc-current-time-indicator {
        background: $error-color-red;
      }

      .rbc-day-slot {
        .rbc-events-container {
          left         : 10px;
          right        : 10px;
          margin-right : 0;
          border-left  : none;
        }
      }

      .rbc-row-segment {
        .rbc-event {
          margin : 0 10px;
          width  : calc(100% - 20px);
        }
      }

      .rbc-event {
        .rbc-event-label {
          width     : 100%;
          margin    : 10px 0;
          font-size : 13px;
        }
        background : $primary-color;
        border     : 1px solid $primary-border;
        text-align : center;

        &.rbc-event-allday {
          margin : 0 10px;
          width  : calc(100% - 20px);
        }

        &:focus {
          outline    : 0;
          box-shadow : none;
        }

        &.rbc-selected {
          background : $primary-color-light;
          border     : 1px solid $primary-border-light;
        }
      }

      .rbc-agenda-table {
        border    : none;

        th {
          &:nth-child(1), &:nth-child(2){
            width : 15%;
          }
          &:nth-child(3){
            width : 70%;
          }
        }

        .rbc-header {
          color       : #fff;
          background  : $primary-color;
          border      : none;
          font-weight : normal;
          padding     : 0.5rem 0.75rem;
          font-size   : 14px;
        }

        tbody {
          tr {
            border : none;

            td {
              border    : none;
              padding   : 0.75rem;
              font-size : 14px;

              &:nth-child(1), &:nth-child(2){
                width : 15%;
              }
              &:nth-child(3){
                width : 70%;
              }

              &.rbc-agenda-time-cell, &.rbc-agenda-date-cell {
                text-transform : capitalize;
              }
            }

            &:nth-of-type(odd) {
              background-color : rgba(0, 0, 0, 0.07);
            }
          }
        }
      }

      .rbc-agenda-empty {
        display    : block;
        text-align : center;
        margin-top : 40px;
      }
    }

    @media (max-width: 1024px) {
      .rbc-toolbar {
        padding-top     : 35px;
        position        : relative;
        justify-content : space-between;


        .rbc-toolbar-label {
          position : absolute;
          top      : 0;
          left     : 0;
          width    : 100%;
          z-index  : 1;
        }

      }
    }

    @media (max-width: 600px) {
      .rbc-toolbar {
        .rbc-btn-group {
          width         : 100%;
          text-align    : center;
          margin-bottom : 15px;
        }
      }
    }
  }
}