.forms {

  .bloc-form {
    padding    : 10px 15px;
    text-align : left;

    label {
      display   : block;
      font-size : 14px;
    }

    .select, .input, .textarea {
      background    : #fff;
      border        : 1px solid #b4b5b7;
      border-radius : 0.25rem;
      padding       : 0.375rem 0.75rem;
      display       : block;
      width         : 100%;
      font-size     : 0.875rem;
      color         : #3e515b;
    }

    .input {
      line-height : 1.5;
    }

    .textarea {
      resize : none;
      height : 150px;
    }

    .react-fine-uploader-gallery-dropzone {
      border : 1px dashed $primary-color-light;
    }

    .react-fine-uploader-gallery-nodrop-container {
      border : 1px solid $primary-color-light;
    }

    .react-fine-uploader-gallery-dropzone, .react-fine-uploader-gallery-nodrop-container {
      min-height: 200px;

      .react-fine-uploader-gallery-file-input-container {
        background : $primary-color-light;
        border     : 1px solid $primary-color-light;
        width      : 150px;
        font-size  : 14px;
        padding    : 5px 0 2px 0;

        .react-fine-uploader-gallery-file-input-content {
          margin-top : 0;

          .react-fine-uploader-gallery-file-input-upload-icon {
            margin-bottom: 5px;
          }
        }
      }
    }

    .error {
      color         : $error-color;
      background    : $bg-error;
      font-size     : 13px;
      display       : block;
      text-align    : center;
      margin-top    : 10px;
      padding       : 0.3rem;
      border-radius : 0.25rem;
    }

  }
}