.header-app {
  position   : fixed;
  z-index    : 100;
  top        : 0;
  left       : 0;
  width      : 100%;
  height     : $header-height;
  background : $header-bg;

  -webkit-box-shadow : 0 2px 5px rgba(57, 63, 72, 0.2);
  -moz-box-shadow    : 0 2px 5px rgba(57, 63, 72, 0.2);
  box-shadow         : 0 2px 5px rgba(57, 63, 72, 0.2);

  .navbar {
    padding         : 0;
    border-radius   : initial;
    justify-content : space-between;
    height          : inherit;

    .navbar-brand {
      height      : 100%;
      margin-left : 0.8rem;
      color       : $primary-color;

      &:before {
        content:'';
        display: inline-block;
        height:100%;
        vertical-align: middle;
      }

      img {
        height:80%;
        display: inline-block;
        vertical-align: middle;
        margin-right: 0.8rem;
      }

      span {
        display: inline-block;
      }
    }

    .navbar-nav-right {

      .svg-inline--fa {
        width: 26px;
        height: 26px;
      }
    }
  }
}