.list {

  .tables {
    margin : 0.9rem;
    width  : calc(100% - 1.8rem);

    thead {
      tr {
        background: $primary-color;
        th {
          border-top   : 1px solid $primary-border;
          border-right : 1px solid $primary-border;
          border-bottom: 1px solid $primary-border;
          color        : #fff;
          font-weight  : normal;
          font-size    : 14px;
          text-transform: uppercase;
          padding: 0.5rem 0.75rem;

          &:last-of-type {
            border-right : none;
          }
        }
      }
    }
    tbody {
      tr {
        &.clickable {
          cursor : pointer;
          transition: 0.3s;
          &:nth-of-type(odd) {
            background-color: rgba(0, 0, 0, 0.01);
          }
          &:hover {
            background: rgba(0, 0, 0, 0.1);
          }
        }
        td {
          border-right : 1px solid #dee2e6;
          font-size: 14px;
          &.center {
            text-align: center;
          }
          &.order {
            color : $primary-color;
          }
          &:last-of-type {
            border-right : none;
          }
        }
      }

    }
  }

  @media (max-width: 768px) {
    .no-display {
      display:none;
    }
  }
}