.list {

  .tables {
    margin : 0.9rem;
    width  : calc(100% - 1.8rem);

    thead {
      tr {
        background : $primary-color;
        th {
          border         : none;
          color          : #fff;
          font-weight    : normal;
          font-size      : 14px;
          text-transform : uppercase;
          padding        : 0.5rem 0.75rem;
        }
      }
    }
    tbody {
      tr {
        &.clickable {
          cursor     : pointer;
          transition : 0.3s;

          &:nth-of-type(odd) {
            background-color : rgba(0, 0, 0, 0.07);
          }
          td {
            border    : none;
            font-size : 14px;
            &.center {
              text-align: center;
            }
            .svg {
              width  : 18px;
              height : 18px;
              color  : $primary-color;
            }
          }
        }

      }

    }
  }

  &.slider {
    .label {
      @media (min-width: 768px) {
        width:26%;
      }
      @media (max-width: 768px) {
        width:100%;
      }
    }
  }

  @media (max-width: 768px) {
    .no-display {
      display : none;
    }
  }
}

.isDragging {
  background: $primary-color-light;
  color:#fff;
  td {
    padding: 0.75rem;
    .svg {
      width  : 18px;
      height : 18px;
    }
    @media (max-width: 768px) {
      &.no-display {
        display : none;
      }
    }
  }

  &.slider {
    .label {
      @media (min-width: 768px) {
        width:26%;
      }
      @media (max-width: 768px) {
        width:100%;
      }
    }

  }
}