.sidebar {
  background  : $bg-sidebar;
  z-index     : 1;
  position    : fixed;

  @media (min-width: 1025px) {
    width : $sidebar-width;
  }
  @media (max-width: 1024px) {
    width : $sidebar-width-small;
  }

  @media (min-width: 769px) {
    top         : 0;
    left        : 0;
    min-height  : 100%;

  }
  @media (max-width: 768px) {
    bottom   : 0;
    left     : 0;
    width : 100%;
  }

  .sidebar-nav {

    @media (min-width: 769px) {
      overflow-x: hidden;
      overflow-y: auto;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      padding-top : $header-height;
      padding-bottom : 30px;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      @include sidebar-width($sidebar-borders, $sidebar-width-small);

      &::-webkit-scrollbar {
        position: absolute;
        width: 10px;
        margin-left: -10px;
        -webkit-appearance: none;
      }

      &::-webkit-scrollbar-track {
        background-color: lighten($bg-sidebar, 5%);
        border-right: 1px solid darken($bg-sidebar, 5%);
        border-left: 1px solid darken($bg-sidebar, 5%);
      }

      &::-webkit-scrollbar-thumb {
        height: 50px;
        background-color: darken($bg-sidebar, 10%);
        background-clip: content-box;
        border-color: transparent;
        border-style: solid;
        border-width: 1px 2px;
      }
    }

    @media (min-width: 1024px) {
      @include sidebar-width($sidebar-borders, $sidebar-width);
    }


    .navbar {

      @media (min-width: 1025px) {
        .nav-link {
          border-bottom : 1px solid $border-sidebar;
          .svg-inline--fa {
            margin-right : 1.4rem;
          }
        }
      }

      @media (min-width: 769px) {
        margin-top: 0.8rem;

        .navbar-nav {
          display : block;
          width   : 100%;

          .nav-item {
            .nav-link {
              padding-top : .9rem;
              padding-bottom : .9rem;

              .svg-inline--fa, span {
                display        : inline-block;
                vertical-align : middle;
              }
              span {
                font-size:14px;
              }
            }
          }
        }
      }

      @media (max-width: 768px) {
        height : $header-height;
        display         : flex;
        justify-content : center;
        align-content   : center;
        padding         : 0;

        .navbar-nav {

          flex-direction  : initial;

          .nav-item {
            display         : flex;
            .nav-link {
              .svg-inline--fa {
                margin : 0 1.2rem;
              }
            }
          }
        }
      }

      .navbar-nav {
        .nav-item {
          .nav-link {
            color : $color-sidebar;

            &.active {
              color : $primary-color;
            }

            .svg-inline--fa {
              @media (min-width: 1025px) {
                width        : 25px;
                height       : 25px;
              }
              @media (max-width: 1024px) {
                width        : 30px;
                height       : 30px;
              }

              margin-right : 1.4rem;
            }

            span {
              @media (min-width: 1025px) {
                display: inline-block;
              }
              @media (max-width: 1024px) {
                display: none;
              }
            }
          }
        }
      }
    }
  }

}