.sidebar {
  position    : absolute;
  top         : 0;
  left        : 0;
  bottom      : 0;
  width       : 250px;
  background  : $bg-sidebar;
  z-index     : 1;
  padding-top : $header-height;

  .navbar {
    margin-top: 0.8rem;

    .navbar-nav {
      display : block;
      width   : 100%;

      .nav-item {
        .nav-link {
          color : $color-sidebar;
          border-bottom : 1px solid $border-sidebar;
          padding-top : .9rem;
          padding-bottom : .9rem;

          .svg-inline--fa {
            width        : 25px;
            height       : 25px;
            margin-right : 1.4rem;
          }

          .svg-inline--fa, span {
            display        : inline-block;
            vertical-align : middle;
          }
          span {
            font-size:14px;
          }
        }
      }
    }
  }

}