// Color
$primary-color        : #3765af;
$primary-border       : #364f96;
$primary-color-light  : #4386E0;
$primary-border-light : #3659a4;

//Sidebar
$bg-sidebar          : #181818;
$color-sidebar       : #c1c1c1;
$border-sidebar      : rgba(255,255,255,0.3);
$sidebar-borders     : none;
$sidebar-width       : 250px;
$sidebar-width-small : 60px;

//Header
$header-height : 50px;
$header-bg     : rgba(0,0,0,0.9);

//Common
$h1-bg     : #e0dfdf;
$h1-border : #c1c1c1;

//Tables
$bg-th : #3765af;

//Forms
$error-color : #ea130a;
$bg-error    : #fff2f2;