// Color

$primary-color       : #0e85cd;
$primary-color-light : #0e85cd;

//Sidebar

$bg-sidebar    : #181818;
$color-sidebar : #c1c1c1;
$border-sidebar: rgba(255,255,255,0.3);


//Header

$header-height : 60px;
$header-bg     : rgba(0,0,0,0.8);
