.burger-menu {

  margin-left  : auto;
  margin-right : 15px;

  .bm-overlay {
    background : rgba(0, 0, 0, 0.3);
    top        : 0;
    left       : 0;
    right      : 0;
    bottom     : 0;
  }

  .bm-menu-wrap {
    top        : 0;
    width      : 100%;

    .bm-menu {
      background : $menu-color;
      padding    : 2.5em 1.5em 0;
      font-size  : 1.15em;

      .bm-item-list {
        color   : #b8b7ad;
        padding : 0.8em;

        .bm-item {
          display: inline-block;
        }
      }
    }

    .bm-cross-button {
      .bm-cross {
        color:#fff;
      }
    }
  }

  .bm-burger-button {

    width    : 36px;
    height   : 30px;
    position : relative;

    .bm-icon {
      color : $menu-color
    }
  }
}