.burger-menu {

  margin-left  : auto;
  margin-right : 15px;

  .bm-overlay {
    background : rgba(0, 0, 0, 0.3);
    top        : 0;
    left       : 0;
    right      : 0;
    bottom     : 0;
  }

  .bm-menu-wrap {
    top:0;
    width:100%;

    .bm-cross-button {
      height : 24px;
      width  : 24px;

      .bm-cross {
        background: #bdc3c7;
        height:18%;
      }
    }
  }

  .bm-burger-button {

    .burger-svg {
      width      : 46px;
      height     : 40px;

      path {
        fill : $menu-color;
      }
    }
  }

  .bm-menu {
    background : #373a47;
    padding    : 2.5em 1.5em 0;
    font-size  : 1.15em;

    .bm-item-list {
      color   : #b8b7ad;
      padding : 0.8em;

      .bm-item {
        display: inline-block;
      }
    }
  }
}