.burger-menu {

  margin-left  : auto;
  margin-right : 15px;

  .bm-overlay {
    background : rgba(0, 0, 0, 0.3);
    top        : 0;
    left       : 0;
    right      : 0;
    bottom     : 0;
  }

  .bm-menu-wrap {
    top        : 0;
    width      : 100%;

    .bm-menu {
      background : $primary-color;
      padding    : 2.5em 1.5em 0;
      font-size  : 1.15em;

      .bm-item-list {
        padding : 0.8rem;

        .bm-item {
          display       :  block;
          color         : #fff;
          border-bottom : 1px solid #f9f9f9;
          padding       : 1rem 0.5rem;

          &.active {
            font-weight : bold;
          }
        }
      }
    }

    .bm-cross-button {
      .bm-cross {
        color:#fff;
      }
    }
  }

  .bm-burger-button {

    width    : 36px;
    height   : 30px;
    position : relative;

    .bm-icon {
      color : $primary-color
    }
  }
}