.header-app {
  position   : fixed;
  z-index    : 100;
  top        : 0;
  left       : 0;
  width      : 100%;
  height     : $header-height;
  background : $header-bg;

  -webkit-box-shadow : 0 2px 5px rgba(57, 63, 72, 0.2);
  -moz-box-shadow    : 0 2px 5px rgba(57, 63, 72, 0.2);
  box-shadow         : 0 2px 5px rgba(57, 63, 72, 0.2);

  .navbar {
    padding         : 0;
    border-radius   : initial;
    justify-content : flex-start;
    height          : inherit;

    .navbar-brand {
      margin : 0 1rem;
      height : 95%;
      img {
        height : 100%;
      }
    }

    .navbar-nav {
      flex-direction : row;

      .nav-item {
        float : none;

        .nav-link {
          color   : #585858;
          padding : 0.5rem 1rem;

          -webkit-transition : color .3s ease-in;
          -moz-transition    : color .3s ease-in;
          -o-transition      : color .3s ease-in;
          transition         : color .3s ease-in;

          &:hover {
            color : $primary-color-light;
          }

          &.active {
            color : $primary-color;
          }
        }
      }
    }
  }

}