.content {
  &.news {
    display: block;

    .bloc-news {
      display        : inline-block;
      vertical-align : top;
      padding        : 0.8rem;
      background     : #fff;
      margin-bottom  : 1.2rem;
      min-height     : 120px;

      -webkit-box-shadow : 2px 2px 3px 0 rgba(0,0,0,0.24);
      -moz-box-shadow    : 2px 2px 3px 0 rgba(0,0,0,0.24);
      box-shadow         : 2px 2px 3px 0 rgba(0,0,0,0.24);

      @media (min-width: 1024px) {
        width : 50%;
      }
      @media (max-width: 1024px) {
        width : 100%;
      }

      h2 {
        color     : $primary-color;
        font-size : 22px;
      }

      p {
        font-size : 14px;
      }

      //.bloc {
      //  width : 50%
      //}

      //img {
      //  width  : 50%;
      //  height : 100%;
      //}
      //
      //.content-news {
      //  width  : 50%;
      //}
    }
  }
}
